<div [ngClass]="mode" class="offer-add-container">
  <h2 class="page-title">
    {{ mode === 'create' ? 'Create Offer' : 'Update Offer' }}
  </h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-body">

    <!-- Model and Price -->
    <div class="form-row">
      <div class="form-group">
        <label for="model">Model</label>
        <select formControlName="modelId" id="model">
          <option [ngValue]="null" disabled>- Select a model -</option>
          @for (brand of brands; track $index) {
            <optgroup [label]="brand.name">
              @for (model of brand.models; track $index) {
                <option [ngValue]="model.id">{{ model.name }}</option>
              }
            </optgroup>
          }
        </select>
        @if (form.get('modelId')?.touched && form.get('modelId')?.errors?.['required']) {
          <p class="form-error">Vehicle model is required.</p>
        }

        @if (backendErrorsMap['modelId']) {
          <p class="form-error">{{ backendErrorsMap['modelId'] }}</p>
        }
      </div>

      <div class="form-group">
        <label for="price">Price (€)</label>
        <input formControlName="price" id="price" placeholder="Suggested price" type="number"/>
        @if (form.get('price')?.touched && form.get('price')?.errors?.['required']) {
          <p class="form-error">Suggested price is required.</p>
        }
        @if (form.get('price')?.touched && form.get('price')?.errors?.['wholeNumberBiggerThenValidator']) {
          <p class="form-error">Suggested price must be positive whole number.</p>
        }

        @if (backendErrorsMap['price']) {
          <p class="form-error">{{ backendErrorsMap['price'] }}</p>
        }
      </div>
    </div>

    <!-- Engine and Transmission -->
    <div class="form-row">
      <div class="form-group">
        <label for="engine">Engine Type</label>
        <select formControlName="engine" id="engine">
          <option disabled selected value="">- Select engine type -</option>
          @for (engineType of engineTypes; track $index) {
            <option [ngValue]="engineType">{{ engineType | titlecase }}</option>
          }
        </select>
        @if (form.get('engine')?.touched && form.get('engine')?.errors?.['required']) {
          <p class="form-error">Engine type is required.</p>
        }

        @if (backendErrorsMap['engine']) {
          <p class="form-error">{{ backendErrorsMap['engine'] }}</p>
        }
      </div>

      <div class="form-group">
        <label for="transmission">Transmission</label>
        <select formControlName="transmission" id="transmission">
          <option disabled selected value="">- Select transmission -</option>
          @for (transmission of transmissionTypes; track $index) {
            <option [ngValue]="transmission">{{ transmission | titlecase }}</option>
          }
        </select>
        @if (form.get('transmission')?.touched && form.get('transmission')?.errors?.['required']) {
          <p class="form-error">Transmission type is required.</p>
        }

        @if (backendErrorsMap['transmission']) {
          <p class="form-error">{{ backendErrorsMap['transmission'] }}</p>
        }
      </div>
    </div>

    <!-- Year and Mileage -->
    <div class="form-row">
      <div class="form-group">
        <label for="year">Manufacture Year</label>
        <input formControlName="year" id="year" placeholder="e.g. 2020" type="number"/>
        @if (form.get('year')?.touched && form.get('year')?.errors?.['required']) {
          <p class="form-error">Manufacturing year is required.</p>
        }
        @if (form.get('year')?.touched && (form.get('year')?.errors?.['wholeNumberBiggerThenValidator'] || form.get('year')?.errors?.['max'])) {
          <p class="form-error">Manufacturing year must be whole number between 1990 till present.</p>
        }

        @if (backendErrorsMap['year']) {
          <p class="form-error">{{ backendErrorsMap['year'] }}</p>
        }
      </div>

      <div class="form-group">
        <label for="mileage">Mileage (km)</label>
        <input formControlName="mileage" id="mileage" placeholder="e.g. 75000" type="number"/>
        @if (form.get('mileage')?.touched && form.get('mileage')?.errors?.['required']) {
          <p class="form-error">Mileage in kilometers is required.</p>
        }
        @if (form.get('mileage')?.touched && (form.get('mileage')?.errors?.['wholeNumberBiggerThenValidator'] || form.get('mileage')?.errors?.['max'])) {
          <p class="form-error">Mileage must be whole number between 0 and 999 999km.</p>
        }

        @if (backendErrorsMap['mileage']) {
          <p class="form-error">{{ backendErrorsMap['mileage'] }}</p>
        }
      </div>
    </div>

    <!-- Description -->
    <div class="form-group full-width">
      <label for="description">Description</label>
      <textarea formControlName="description" id="description" maxlength="500" placeholder="Describe the vehicle..."
                rows="4"></textarea>
      @if (form.get('description')?.touched && form.get('description')?.errors?.['required']) {
        <p class="form-error">Description is required.</p>
      }

      @if (backendErrorsMap['description']) {
        <p class="form-error">{{ backendErrorsMap['description'] }}</p>
      }
    </div>

    <!-- Image -->
    <div class="form-group full-width">
      <label for="imageUrl">Image URL</label>
      <input formControlName="imageUrl" id="imageUrl" placeholder="https://example.com/car.jpg"
             type="url"/>
      @if (form.get('imageUrl')?.touched && form.get('description')?.errors?.['required']) {
        <p class="form-error">Vehicle image URL is required.</p>
      }

      @if (backendErrorsMap['imageUrl']) {
        <p class="form-error">{{ backendErrorsMap['imageUrl'] }}</p>
      }
    </div>

    <!-- Submit -->
    <div class="submit-wrapper">
      <button
        [disabled]="form.invalid  || hasBackendErrors()"
        [style]="{ backgroundColor: (form.invalid || hasBackendErrors()) ? 'grey' : '#4ebced' }"
        class="btn-submit"
        type="submit">Submit Offer
      </button>
    </div>
  </form>
</div>
