<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MobiLeLeLe</title>
    <link href="/css/reset-css.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white">Login</h2>
    <form
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"
            th:action="@{/users/login}"
            th:method="post">
        <div class="form-group">
            <label class="text-white font-weight-bold" for="username">Username</label>
            <input
                    class="form-control"
                    id="username"
                    max="50"
                    min="2"
                    name="username"
                    placeholder="Email address:"
                    th:value="${username}"
                    type="text"/>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="password">Password</label>
            <input
                    class="form-control"
                    id="password"
                    max="20"
                    min="2"
                    name="password"
                    placeholder="Password"
                    type="password"/>
        </div>

        <p class="errors alert alert-danger" th:if="${bad_credentials}">
            Invalid username or password.
        </p>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input class="btn btn-info btn-lg" type="submit" value="Login"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>
</body>
</html>
